<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="{% static 'css/Aboutus.css' %}">
    </head>
    
</html>
<body>
    <div class="header">
        <div class="main">
            <h1>About Us...</h1>
            <p>
                The aim of the Website is to benefit the farmer and the customer without any involvement of  mediators.
                Only verified farmers can use this website so that there will be no issues with product.The products that are uploaded in the website are No.1 quality products.<br>
                <b>Suggestions</b><br>
                 Farmers can get suggestions based on weather and which crop is better for which type of land so,that they will also get some idea on which crop will get more profit for them.<br>
                 Along with this they can buy grains for crops,fertilizers, pesticides in our website at low cost.<br>
                 <b>Clean & Hygenic</b><br>
                 Our Website aims to contribute by bringing sustainable practices of best-in-class supply chain model for delivering the freshest produce from the farm to your home within a day! The use of cutting-edge technology ensures that you get super-nutritious, economically-viable, fresh fruits, and vegetables that help build your immunity. So, why wait? Order a basket of the choicest greens, fruits, and veggies and we shall have it delivered to your doorstep.

            </p>
        </div>
    </div>
</body>